.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.image-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 20px;
  gap: 20px;
}

.image-card {
  flex-basis: 20%;
  max-width: calc(20% - 16px);
  margin-bottom: 20px;
  position: relative;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.image-title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 0;
  display: inline-block;
  margin-right: 5px;
}


.profile-info {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.profile-picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.username {
  font-size: 14px;
}

.likes-count {
  font-size: 14px;
  position: absolute;
  top: 170px; /* Adjust the value to position it correctly */
  right: 10px; /* Adjust the value to position it correctly */
}

.heart-emoji {
  position: absolute;
  bottom: 60px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  padding: 0;
}

.heart-emoji svg {
  color: black; /* Set the initial color to black */
}

.heart-emoji.active svg {
  color: red; /* Set the color to red when active (filled) */
}

.image-card.enlarged {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-card.enlarged .image {
  max-width: 2060px;
  max-height: 2000px;
}

